<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false" aria-label="Example home icon">cloud</mat-icon> Alerty meteo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="alerts.weatherAlert" class="mat-elevation-z2">
      <ng-container matColumnDef="dangerDescription">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let alert"> {{alert.description}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Stacja </th>
        <td mat-cell *matCellDef="let alert"> {{alert.weatherStationName}} </td>
      </ng-container>
      <ng-container matColumnDef="publishDate">
        <th mat-header-cell *matHeaderCellDef> Data dodania </th>
        <td mat-cell *matCellDef="let alert"> {{alert.publishDate | date:"dd/MM/yyyy, HH:mm"}} </td>
      </ng-container>
      <ng-container matColumnDef="dangerScale">
        <th mat-header-cell *matHeaderCellDef> Skala zagrożenia </th>
        <td mat-cell *matCellDef="let alert"> {{alert.dangerScale}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Aktywne </th>
        <td mat-cell *matCellDef="let alert"> {{alert.active | showVerification}} <button *ngIf="alert.active" mat-raised-button color="warn" (click)="changeAlertStatus('WEATHER', alert.id)">Zmień</button></td>
      </ng-container>
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let alert"><button mat-raised-button color="warn" *ngIf="alert.active === true" (click)="openDialog('WEATHER', alert.id)">Udostępnij</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false" aria-label="Example home icon">waves</mat-icon> Alerty hydrologiczne
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="alerts.waterAlert" class="mat-elevation-z2">
      <ng-container matColumnDef="dangerDescription">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let alert"> {{alert.description}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Stacja </th>
        <td mat-cell *matCellDef="let alert"> {{alert.waterStationName}} </td>
      </ng-container>
      <ng-container matColumnDef="publishDate">
        <th mat-header-cell *matHeaderCellDef> Data dodania </th>
        <td mat-cell *matCellDef="let alert"> {{alert.publishDate | date:"dd/MM/yyyy, HH:mm"}} </td>
      </ng-container>
      <ng-container matColumnDef="dangerScale">
        <th mat-header-cell *matHeaderCellDef> Skala zagrożenia </th>
        <td mat-cell *matCellDef="let alert"> {{alert.dangerScale}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Aktywne </th>
        <td mat-cell *matCellDef="let alert"> {{alert.active | showVerification}} <button *ngIf="alert.active" mat-raised-button color="warn" (click)="changeAlertStatus('WATER', alert.id)">Zmień</button></td>
      </ng-container>
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let alert"><button mat-raised-button color="warn" *ngIf="alert.active === true" (click)="openDialog('WATER', alert.id)">Udostępnij</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon aria-hidden="false" aria-label="Example home icon">local_fire_department</mat-icon> Inne alerty
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="alerts.alerts" class="mat-elevation-z2">
      <ng-container matColumnDef="dangerDescription">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let alert"> {{alert.dangerDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Opis </th>
        <td mat-cell *matCellDef="let alert"> {{alert.description}} </td>
      </ng-container>
      <ng-container matColumnDef="publishDate">
        <th mat-header-cell *matHeaderCellDef> Data dodania </th>
        <td mat-cell *matCellDef="let alert"> {{alert.publishDate | date:"dd/MM/yyyy, HH:mm"}} </td>
      </ng-container>
      <ng-container matColumnDef="dangerScale">
        <th mat-header-cell *matHeaderCellDef> Skala zagrożenia </th>
        <td mat-cell *matCellDef="let alert"> {{alert.dangerScale}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Aktywne </th>
        <td mat-cell *matCellDef="let alert"> {{alert.active | showVerification}} <button *ngIf="alert.active" mat-raised-button color="warn" (click)="changeAlertStatus('OTHER', alert.id)">Zmień</button></td>
      </ng-container>
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let alert"><button mat-raised-button color="warn" (click)="openDialog('OTHER', alert.id)">Udostępnij</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color="primary" (click)="addAlert()"> <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> Dodaj alert</button>
