/*.example-container {
  background-color: #744fbd;
}*/
.example-container {
  position: absolute;
  background-color: #744fbd;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.example-sidenav {
  padding: 20px;
  height: 100vh;
}
a {
  text-decoration: none;
}
