.top-container {
  background-color: #2B2D42;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-shadow: 3px 5px 11px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    3px 5px 11px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         3px 5px 11px 0px rgba(50, 50, 50, 0.3);
}
.single-alert {
  width: 100%;
}
agm-map {
  height: 300px;
  width: 800px;
  -webkit-box-shadow: 3px 5px 11px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    3px 5px 11px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         3px 5px 11px 0px rgba(50, 50, 50, 0.3);
}
