<div class="top-container">
  <div class="single-alert">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon">cloud</mat-icon> Ostrzeżenia meteorologiczne
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div *ngFor="let alert of alertsList.weatherAlert">
          <mat-card>
            <mat-card-header>
              <mat-card-subtitle><mat-icon aria-hidden="false" aria-label="Example home icon">error_outline</mat-icon> Zgłoszono: {{alert.publishDate | date:"dd/MM/yyyy, hh:mm"}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h3 style="color: #EF233C">Uwaga, zgłoszono zagrożenie w miejscu: {{alert.weatherStationName}}</h3>
              <mat-divider></mat-divider><br/>
              Opis: {{alert.description}}<br/>
              Status: {{alert.active | showStatus}}
            </mat-card-content>
          </mat-card>
          <br/>
        </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon">waves</mat-icon> Ostrzeżenia hydrologiczne
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let alert of alertsList.waterAlert">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle><mat-icon aria-hidden="false" aria-label="Example home icon">error_outline</mat-icon> Zgłoszono: {{alert.publishDate | date:"dd/MM/yyyy, hh:mm"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3 style="color: #EF233C">Uwaga, zgłoszono zagrożenie w miejscu: {{alert.waterStationName}}</h3>
            <mat-divider></mat-divider><br/>
            Opis: {{alert.description}}<br/>
            Status: {{alert.active | showStatus}}
          </mat-card-content>
        </mat-card>
        <br/>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon">local_fire_department</mat-icon> Pozostałe ostrzeżenia
        </mat-panel-title>
      </mat-expansion-panel-header>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9">
        <agm-marker *ngFor="let cord of alertsList.alerts" [latitude]="cord.lat" [longitude]="cord.lng">
          <agm-info-window>
            <h3>{{cord.dangerDescription}}</h3>
            <h3>{{cord.description}}</h3>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <br/>
      <div *ngFor="let alert of alertsList.alerts">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle><mat-icon aria-hidden="false" aria-label="Example home icon">error_outline</mat-icon> Zgłoszono: {{alert.publishDate | date:"dd/MM/yyyy, hh:mm"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3 style="color: #EF233C">Uwaga, zgłoszono: {{alert.dangerDescription}}</h3>
            <mat-divider></mat-divider><br/>
            Opis: {{alert.description}}<br/>
            Status: {{alert.active | showStatus}}
          </mat-card-content>
        </mat-card>
        <br/>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
</div>
