<div class="top-container">
  <mat-list>
    <mat-list-item><span style="color: #EF233C"> Nazwa stacji:</span> {{station.name}}</mat-list-item>
    <mat-divider></mat-divider><br/>
  </mat-list>
  <mat-tab-group>
    <mat-tab label="Temperatura">
      <app-basic-chart [lineChartData]="lineChartDataTemp" [lineChartLabels]="lineChartLabels"></app-basic-chart>
    </mat-tab>
    <mat-tab label="Ciśnienie">
      <app-basic-chart [lineChartData]="lineChartDataPressure" [lineChartLabels]="lineChartLabels"></app-basic-chart>
    </mat-tab>
    <mat-tab label="Smog">
      <app-basic-chart [lineChartData]="lineChartDataSmog" [lineChartLabels]="lineChartLabels"></app-basic-chart>
    </mat-tab>
    <mat-tab label="Wilgotność">
      <app-basic-chart [lineChartData]="lineChartDataHumidity" [lineChartLabels]="lineChartLabels"></app-basic-chart>
    </mat-tab>
  </mat-tab-group>
</div>



