<div class="top-container">
  <div>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item><span style="color: #EF233C">Nazwa stacji: </span> {{station.name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span style="color: #EF233C">Poziom wody - zagrożenie wylaniem: </span> {{station.warningLevel}} mm</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span style="color: #EF233C">Poziom wody - poziom krytyczny: </span> {{station.alertLevel}} mm</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div class="logo">
    <app-basic-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-basic-chart>
  </div>
</div>
